body {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}

.header {
    background-color: white;
}

#headergrid {

    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

#logo {
    align-items: left;
    justify-items: left;
    justify-content: flex-start;
    margin-left: 30px;
    max-width: 70px;
    height: auto;
    flex-grow: 1;
    padding-top: 10px;

}

#navmenu {
    flex-grow: 1;
    margin-right: 30px;
    margin-top: 40px;
}

.rightalignnavigation {
    display: flex;
    justify-content: flex-end;

}

.menuitems {
    display: inline-block;
    color: #333333;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    justify-content: flex-end;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    font-weight: lighter;

}

.con-padding{
    padding-top: 40px;
}

.top-con{
    margin-top: 60px; 
}

.menuitems:hover {
    
    color:#AA6A32;
    text-decoration: underline solid 3px #AA6A32;
  }

  .nav-link:hover {
    color:#AA6A32;
    text-decoration: underline solid 3px #AA6A32;
  }

  

.hp-hero{
    background-color: transparent;
    background-repeat: no-repeat;
    height: 600px;
    background-position:right; 
    background-size:contain; 
}



.profileimage {
    max-width: 430px;
    max-height: auto;

}


.h1-homebio {
    color:#333333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight:bold;
}

.shortbio {
    margin-top: 40px;
    color:#333333;
    align-items: right;
    justify-items: right;
    font-size: 22px;
    font-weight: lighter;
    flex-wrap: wrap;
}



.resumebutton {
    background-color: transparent;
    border: white solid 3px;
    color: white;
    align-content: flex-end;
    align-items: right;
    font-size: 22px;
    margin-top: 5%;
    margin-left: 60%;
    padding: 15px;
    width: 200px;

}


.h2-resume{
    color:#333333;
    margin-top: 30px;
    font-size: 28px;
    font-weight: lighter;
    border-radius: 30px;
    
}

.primary-button {
    background-color:#AA6A32;
    color: white;
    border: none;
    align-content: flex-end;
    align-items: right;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px;
    width: 200px;
    border-radius: 30px;

}

.hp-hero{
margin-bottom: 80px;

}

.case-bar{
    background-color: #F5F6FA;
    height: 100px;
    margin-bottom: 60px;
}
.h1-case{
    padding-top: 20px;
    color:#333333;

}
.p-bar{
    margin-bottom: 20px;
}


/* Work Section */ 

.row{
    margin-bottom: 60px;
}
.card{
    border: none;
}

#workGridHomepage
{
    display: grid;
    grid-template-areas:
    "imagework1 pwork1"
     "imagework2 pwork2" 
     "imagework3 pwork3";
    grid-template-rows: 30% 30% 30% ;
    grid-template-columns: 40% 60% ;
   
}

#workGrid {
    display: grid;
    grid-template-areas:
    "imagework1" "pwork1"
     "imagework2" "pwork2" 
     "imagework3" "pwork3" 
     "imagework4" "pwork4";
    grid-template-rows: 30% 30% 30% 30% ;
    grid-template-columns: 40% 60% ;
   
}

#imagework1{
    grid-area: imagework1;
}
#pwork1{
    grid-area: pwork1;
}
#imagework2{
    grid-area: imagework2;
}
#pwork2{
    grid-area: pwork2;
}
#imagework3{
    grid-area: imagework3;
}
#pwork3{
    grid-area: pwork3;
}
#imagework4{
    grid-area: imagework4;
}
#pwork4{
    grid-area: pwork4;
}


.workimage{
    width: 70%;
    margin-left: 100px;
    padding-top: 60px;
}
.workp{
    width:80%;

}
#pwork1{
    margin-left:20px;
    width:80%;
    margin-bottom: 50px;

}

.primary-green-button{
    background-color:#356353;
    color: white;
    border: none;
    font-size: 22px;
    margin-top: 5%;
    padding: 15px;
    width: 200px;

}

.primary-button:hover{
    background-color:white;
    color:#AA6A32;
    border:3px solid;
    border-color: #AA6A32;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px;
    width: 200px;
    border-radius: 30px;

}

.primary-green-button:active{
    background-color: #94b67c;
    color:white;
    border: none;
    font-size: 22px;
    margin-top: 5%;
    padding: 15px;
    width: 200px;
}


.secondary-button{
    background-color: transparent;
    border: #333333 solid 3px;
    color:#333333;
    border-radius: 30px;
    font-size: 22px;
    margin-top:20px;
    margin-bottom:40px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    width: 200px;

}

.secondary-button:hover{
    background-color: transparent;
    border: #333333 solid 3px;
    color:#333333;
    border-radius: 30px;
    font-size: 22px;
    margin-top:20px;
    margin-bottom:40px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    width: 200px;
    text-decoration: underline solid 3px #AA6A32;

}

.view-all{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.center-p{
    text-align: left;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;

}



.view-all-button{
    background-color: #333333;
    border: #333333 solid 3px;
    color:white;
    font-size: 22px;
    margin-top: 5%;
    padding: 15px;
    width: 600px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;

}

.view-all-button:hover{
    background-color: white;
    border: #AA6A32 solid 3px;
    color:#AA6A32;
    font-size: 22px;
    margin-top: 5%;
    padding: 15px;
    width: 600px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;

}



/* End Work Section */ 

/* My Design Process Section */ 


/* End of homepage section */ 


/* My Skills Page */ 


.skillsbg{
    background-color: transparent;
    padding-bottom: 2rem;
    padding-top: 2rem;
    flex-wrap: wrap;
}

.teamimage {
max-width: 550px;
height: auto;

}


.hskill{
    padding-left: 20px;
    padding-top: 100px;
    background-color: transparent;
    color:#333333;
}

h1 {
    color:#333333;
    font-size: 32px;
    font-weight: lighter;
}
h3{
    color:#333333;
    font-size: 28px;
    font-weight: 200;

}


.skillimage{
    max-width: 250px;
    height: auto;
}




/* End Skills Page */

h4{
    color:#333333;
    font-size: 24px;
    font-weight: 200;
    padding-top: 10px;
    text-transform: uppercase;

}

.h5connect{
    color:#333333;
    font-family: 'Petit Formal Script', cursive;
    font-size: 28px;
    margin-left: 30px;
    font-weight: lighter;
    margin-bottom: none;
}

.h6connect {
    color:#333333;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
    font-size: 18px;
    font-weight: lighter;

}

p{
    color:#333333;
    font-size: 17px;

}

#footergrid {
    display: flex;

}

#footernavmenu {
    flex-grow: 1;
    align-items: left;
    justify-items: left;
    margin-right: 30px;
    margin-top: 40px;
    display: inline-block;

}

.footermenuitems {

    display: inline-block;
    color: #333333;
    font-size: 18px;
    text-transform: uppercase;
    align-items: left;
    justify-items: left;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 40px;
    font-weight: lighter;
}

#socialicons {
    padding-right: 30px;
}

.socialitems {
    flex-grow: 1;
    display: inline-block;
    align-items: right;
    justify-items: right;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px;
    padding-bottom: 40px;


}

/* */


/* UWH */ 

.nav-link{
    color:#333333;
    font-size: 18px;
    display:inline;
    text-transform: uppercase;
}

.container header{
    display:inline-block;
    }
    
    .container-fluid.herobg{ 
        background-color:#b5c5c2;
    }
    
    .uwh{
        background-color:#F5F6FA;
        color:#333333;
        padding: 10px;
    }
    .h2-intro{
        color:#333333;
        font-weight: lighter;

    }
    h2 {
        margin-bottom: 1.5rem;
    }

    .h3-case-study{
        color:#333333
        font-weight: lighter;
    }

    
    h5{
        margin-top: 1rem;
    }

    .p-intro{
        color:#333333;
        font-weight: lighter;
    }
    .problem-image{
        max-width: 345px; 
        height: auto;
    }
    .outcome-image{
        max-width: 400px; 
        height: auto;
    
    }
    .numbers{
        max-width:100px;
        height: auto;
        padding-right: 20px;
    }

    .p-overview-number{
        padding-right: 40px;

    }
    
    .btn btn-link {
        max-width:600px;
        display: inline;
    }
    
    .step{
        max-width:100px;
        height: auto;
    }
    
    .h3-follow{
        justify-items: center;
        align-items: center;
        text-decoration: underline solid 10px #41B6EB;
    }
    
    .img-col4{
        max-width:350px ;
    }
    .img-col6{
        max-width:560px ;
    
    }
    .img-col6-full{
        max-width:560px ;
        padding-top: 30px;
    }
    .card-header{
        background-color: white;
    }
    /* */

    .contact-bea{
        max-width: 800px;
    }

    .about-img-1{
        max-width: 390px;
        max-height: 508px;
        margin: 20px;
        padding: 20px;
    }
    .about-img-2{
        max-width: 400px;
        max-height: 508px;
        margin: 20px;
        padding: 20px;
    }
    .about-img-3{
        max-width: 390px;
        max-height: 508px;
        margin: 20px;
        padding: 20px;
    }

    .about-img-4{
        max-width: 400px;
        max-height: 500px;
        margin: 20px;
        padding: 20px;
    }

    .about-img-5{
        max-width: 390px;
        max-height: 500px;
        margin: 20px;
        padding: 20px;
    }


    .about-img-6{
        max-width:400px;
        max-height: 500px;
        margin: 20px;
        padding: 20px;
    }

   .div-bar{
    background-color:#F5F6FA;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 150px;
   }

   .conclusion-div-bar{
    background-color:#F5F6FA;
    margin-top: 40px;
    justify-content: left;
    align-items: left;
    text-align: left;
    max-height: 600px;
    padding-left: 100px;
   }
   .edu-div-bar{
    background-color:#F5F6FA;
    margin-top: 40px;
    max-height: 200px;
   }
  .edu-conclusion{
   padding-bottom: 20px;


   }
   .number-ux-phase{
    max-width: 90px;
   }

   .edu-number-ux-phase{
    max-width: 90px;
    justify-content: right;
    align-items: right;
    text-align: right;
   }

   .number-right{
    justify-content: right;
    align-items: right;
    text-align: right;

   }

.h4-div-bar{
    padding-bottom: 20px;
   }

.cs-img{
    max-width: 500px; 
}

.big-cs-image{
    max-width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.a-form-img{
    max-height: 400px;
}
  
.center-c{
    text-align: left;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.old{
    justify-content: center;
    align-items: center;
    max-height: 500px;

}

.img-test{
    max-height: 400px;
}

.space-b{
    margin-bottom: 60px;
}

.space-top{
    padding-top: 40px;
}

.col-right{
    background-color: #F5F6FA;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.div-block{
display: flex;
width: auto;
height: auto;
border-top: 0px solid #e3e2e1;
border-bottom: 1px solid #e3e2e1;
border-radius: 0px;
margin-bottom: 40px;
}

.container.Tron {
    background-color: transparent !important;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    text-align: left !important;
    flex-direction: column;
    height: 100%;
}

.display-4 {
    text-align: left !important;
    display: flex;
    justify-content:left;
    justify-items: left !important;
    font-size: 48px;
}


.lead {
    display: flex;
    justify-content:left !;
    text-align: left;
    flex-direction: column;
    color: #252525;
  
}

.carousel-caption {
  font-style: italic;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    right: 10px  !important;
    left: 10px  !important;

}

.carousel-indicators li {
    background-color: #000;
}

.carousel-inner{
    margin-bottom: 30px;
}

